#### jupyter ####
ipykernel
ipywidgets
#### yaml ####
PyYAML
#### tiff ####
tifffile
#### pytorch ####
--extra-index-url https://download.pytorch.org/whl/cu128 # For GPU users
torch
torchvision
torchaudio
#### transformers ####
transformers
#### datasets ####
datasets
#### accelerate ####
accelerate
#### scipy ####
scipy
#### pip-tools ####
pip-tools
